@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@xyflow/react/dist/style.css";

@custom-variant dark (&:is(.dark *));

* {
    font-family: var(--font-baskerville);
}

/*React Flow Styles*/
.react-flow__controls {
    --xy-controls-button-background-color: #0f2040;
    --xy-controls-button-background-color-hover: #162b50;
    --xy-controls-button-border-color: transparent;
    --xy-controls-button-color: #c8d8eb;
    --xy-controls-button-color-hover: #ffffff;
}

.react-flow__node {
  --xy-node-background-color: #0F2040;
  --xy-node-border: 1px solid #1A2E4A;
  --xy-node-border-radius: 15px;
  --xy-node-color: #C8D8EB;
}